fastapi==0.115.11
uvicorn[standard]==0.34.0
langchain==0.3.21
langchain-core==0.3.47
langchain-nvidia-ai-endpoints==0.3.9
langchain-community==0.3.20
python-dotenv==1.0.1
pydantic==2.10.6
openfeature-sdk==0.8.3
openfeature-hooks-opentelemetry==0.3.1
devcycle-python-server-sdk==3.13.10

#otel
traceloop-sdk==0.52.6
opentelemetry-instrumentation-langchain==0.52.6
opentelemetry-exporter-otlp-proto-http==1.40.0
opentelemetry-instrumentation-fastapi==0.61b0
opentelemetry-instrumentation-logging==0.61b0